body {
  margin: 0;
}

.App {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.4s;
}

.App_theme_light {
  color: black;
  background: white;
}

.App_theme_dark {
  color: white;
  background: black;
}
